<!doctype html>
<html lang="zh-cn">
<head>
    <meta name="baidu-site-verification" content="81rzqdpRFv" />
    <meta charset="utf-8">
    <meta name="referrer" content="same-origin">
    <meta name="referrer" content="no-referrer" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel = "Shortcut Icon" href= '/favicon.ico' >
    <title><%= config.title %></title>
    <link rel="stylesheet"
      href="//cdnjs.cloudflare.com/ajax/libs/highlight.js/11.4.0/styles/atom-one-dark.min.css">
    <script src="//cdnjs.cloudflare.com/ajax/libs/highlight.js/11.4.0/highlight.min.js"></script>
    <%- css('css/bootstrap.min') %>
    <%- css('css/font-awesome.min') %>
    <%- css('css/fontdiao') %>
    <%- css('css/style') %>

</head>
<body>
    <div class="main">
        <%- body %>
    </div>

    <%- js('js/jquery-1.12.3.min.js') %>
    <%- js('js/bootstrap.min.js') %>
    <%- js('js/index.js') %>
    <% if(is_home()){%>
    <%- js('js/star.js') %>
    <%- js('js/moon.js') %>
    <%- js('js/meteor.js') %>
    <%- js('js/main.js') %>
    <% }else { %>
    <%- js('js/general.js')%>
    <% if(is_archive() || is_category() || is_tag()) {%>
    <%- js('js/category.js') %>
    <% } %>
    <% if(is_post()) {%>
    <%- js('js/post.js') %>
    <% } %>
    <%- js('js/tag.js') %>
    <% } %>
    <script>
        hljs.highlightAll();
    </script>
</body>
</html>
